
  


<br><br><br><br><br>
     <div align="center" class="card animated tada">
       <div class="card-header">
         <h2>Manager of Vanguard Profile</h2>
       </div>
       <img class="avamage" src="assets/avatar.png" alt="">
      <h3><span>manager ID: </span> {{userdata.manager_id}}</h3>
      <h4><span>firstname: </span> {{userdata.firstName}}</h4>
      <h4><span>lastname: </span> {{userdata.lastName}}</h4>
      <h4><span>Email Address:</span> {{userdata.email}}</h4>
       <footer><a href="#" target="_blank"><img src="assets/van1.png"></a>
      <p>Copyright <a href="https://www.vanguard.com" target="_blank">Vanguard Assurance</a></p>
       </footer>
     </div>
     